*.jpg
*.gif
*.npz
*.npy
*.pyc
*.pdf
*.png
.ipynb_checkpoints/volumerenderer.py-jvsc-c41bcf47-72a2-4e44-abf5-f19b4c86fd32-checkpoint.ipynb
.flake8
.isort.cfg
.markdownlint.yaml
imgui.ini
.trunk/trunk.yaml
.vscode/settings.json
style/style.mplstyle
.trunk/.gitignore
.ipynb_checkpoints/run_test-jvsc-4c4c3b7a-a669-4d1e-8451-353473ebea91-checkpoint.ipynb
.ipynb_checkpoints/run_test-jvsc-d447e0d4-12fd-4cb3-9fff-faa1b5226e1e-checkpoint.ipynb
data/XYslice_000000
data/XYslice_000001_1
data/XYslice_000001_2
data/XYslice_000001_3
data/XYslice_000002_1
data/XYslice_000002_2
data/XYslice_000002_3
data/XYslice_000003_1
data/XYslice_000003_2
data/XYslice_000003_3
data/XYslice_000004_1
data/XYslice_000004_2
data/XYslice_000004_3
data/XYslice_000005_1
data/XYslice_000005_2
data/XYslice_000005_3
data/XYslice_000006_1
data/XYslice_000006_2
data/XYslice_000006_3
data/XYslice_000007_1
data/XYslice_000007_2
data/XYslice_000007_3
data/XYslice_000008_1
data/XYslice_000008_2
data/XYslice_000008_3
data/XYslice_000009_1
data/XYslice_000009_2
data/XYslice_000010_1
data/XYslice_000010_2
data/XYslice_000010_3
UM_IC
