*.jpg
*.gif
*.npz
*.npy
*.pyc
*.pdf
*.png
.ipynb_checkpoints/volumerenderer.py-jvsc-c41bcf47-72a2-4e44-abf5-f19b4c86fd32-checkpoint.ipynb
.flake8
.isort.cfg
.markdownlint.yaml
imgui.ini
.trunk/trunk.yaml
.vscode/settings.json
style/style.mplstyle
.trunk/.gitignore
.ipynb_checkpoints/run_test-jvsc-4c4c3b7a-a669-4d1e-8451-353473ebea91-checkpoint.ipynb
.ipynb_checkpoints/run_test-jvsc-d447e0d4-12fd-4cb3-9fff-faa1b5226e1e-checkpoint.ipynb
